<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destination Info Page</title>
    <style>
        .logout {
            float: right;
        }
    </style>
</head>
<body>
    <div class="logout">
    <a href="/home">Home</a> | <a href="/logout">Logout</a>
    </div>
    <div class="trip">
        <h2>{{destinationToShow.destination}}</h2>
        <p>Planned By: {{planner.name}} {{planner.lastname}}</p>
        <p>Description: {{destinationToShow.plan}}</p>
        <p>Travel Date From: {{destinationToShow.startDate}}</p>
        <p>Travel Date To: {{destinationToShow.endDate}}</p>
    </div>
    <div class="others">
        <h3>Other Users Joining the Trip:</h3>
        {% if otherUsers %}
            {% for otherUsers in otherUsers %}
                <p>{{otherUsers.name}} {{otherUsers.lastname}}</p>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>

